C/sparse.v
Makefile.coq
Makefile.coq.conf
CoqMakefile
CoqMakefile.conf
.*.aux
.*.d
*.a
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.glob
*.ml.d
*.ml4.d
*.mli.d
*.mllib.d
*.mlpack.d
*.native
*.o
*.v.d
*.vio
*.vo
*.vok
*.vos
*.v.crashcoqide
.coq-native/
.csdp.cache
.lia.cache
.nia.cache
.nlia.cache
.nra.cache
csdp.cache
lia.cache
nia.cache
nlia.cache
nra.cache
cdoc/*
cdoc/*/*
html/LAProof.*
html/genindex.html
html/*.css
html/toc.html
